* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: lime; /* Zeleni tekst */
    height: 100vh;
    overflow: hidden;
  }
  
  .matrix-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .column {
    position: absolute;
    bottom: 0;
    color: lime;
    font-size: 24px;
    white-space: nowrap;
  }
  
